/* ill be making my hover effects on my navbar brand with the code underneath */

.navbar-brand:after {
    content: "";
    position: absolute;
    background-color: var(--red);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar-brand:hover,
.link:hover {
    color: #ffffff;
}

.navbar-brand:hover:after {
    width: 100%;
}

/* and now the hover effects on the links */

.link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--red);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* i'll be giving my navbar a transition so the bg-color comes up or fades away smoothly */

.navbar {
    transition: all .3s;
}