/* met de code hieronder geef ik een hover effect aan mijn naam links boven op de homepage */

.navbar-brand,
.link {
    color: #bdbdbd;
}

.navbar-brand:after {
    content: "";
    position: absolute;
    background-color: var(--red);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar-brand:hover,
.link:hover {
    color: #ffffff;
}

.navbar-brand:hover:after {
    width: 100%;
}

/* en nu met geef ik ook nog een hover effect aan de linkjes aan de rechter kant van het beeld */

.link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--red);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}