:root {
    --red: rgb(123, 45, 38);
    --grayish: rgb(98, 100, 100);
    --oceanblueish: rgb(43, 65, 98);
    --lighttransparent: #f9f9f90a;
}

.index-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar,
.banner-text {
    font-family: "Poppins", sans-serif;
}

.collapse {
    background-color: var(--lighttransparent);
}

.red {
    color: var(--red);
}

.list a {
    color: white;
}

.hl {
    color: var(--oceanblueish);
}

.button {
    background-color: var(--grayish);
}

/* met de code hieronder geef ik een hover effect aan mijn naam links boven op de homepage */

.navbar-brand {
    color: #bdbdbd;
}

.navbar-brand:after {
    content: "";
    position: absolute;
    background-color: var(--red);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar-brand:hover{
    color: #ffffff;
}

.navbar-brand:hover:after {
    width: 100%;
}