* {
    font-family: "Poppins", sans-serif;
}

:root {
    --red: rgb(123, 45, 38);
    --grayish: rgb(98, 100, 100);
    --oceanblueish: rgb(43, 65, 98);
    --lightgray: rgb(189, 189, 189);
}

.index-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/img/background\ img.jpg);
    background-repeat: no-repeat;
}

.text {
    font-family: "Lato", sans-serif;
}

.aligned {
    text-align: justify;
}

.navbar-brand,
.link,
.bi-list {
    color: #bdbdbd;
}

.red {
    color: var(--red);
}

.hr {
    color: var(--grayish);
}

.blue-hr {
    color: var(--oceanblueish);
}

.vr {
    color: var(--red);
    width: 5px;
}

.title {
    text-shadow: 3px 3px 2px var(--red);
}

.item {
    width: 30%;
}

.html {
    width: 80%;
}

.js {
    width: 70%;
}

.bs {
    width: 60%;
}

.njs {
    width: 65%;
}

.xjs {
    width: 55%;
}
