* {
    font-family: "Poppins", sans-serif;
}

:root {
    --red: rgb(123, 45, 38);
    --grayish: rgb(98, 100, 100);
    --oceanblueish: rgb(43, 65, 98);
    --lightgray: rgb(189, 189, 189);
}

.index-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/img/background\ img.jpg);
    background-repeat: no-repeat;
}

.about-me-text {
    font-family: "Lato", sans-serif;
}

.navbar-brand,
.link {
    color: #bdbdbd;
}

.red {
    color: var(--red);
}

.hr {
    color: var(--grayish);
}

.vr {
    color: var(--red);
    width: 5px;
}

.title {
    text-shadow: 2px 2px 4px #000000;
}